body {
  background-image: url(/postal/assets/razas-perros.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.container h1 {
  background-color: crimson;
  width: 70%;
  margin: auto;
  color: aliceblue;
  padding: 10px;
  margin-top: 100px;
  border-radius: 25px;
}

.container h2 {
  color: brown;
  margin-top: 40px;
}

.container button {
  background-color: #b967ff;
  color: aliceblue;
  border: solid #ff71ce;
  width: 200px;
  margin: auto;
  border-radius: 10px;
  margin-top: 70px;
  padding: 10px 20px;
}

.container button:hover {
  transform: scale(1.1);
}

.redes-sociales {
  background-color: #fffb96;
  border: solid #5c5a28;
  width: 20%;
  margin: auto;
  border-radius: 25px;
  text-align: center;
  margin-top: 90px;
}

.iconos-redes {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.iconos-redes a img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(100%) brightness(0.6);
}

.iconos-redes a img:hover {
  transform: scale(1.2);
}

/* Estilos base para la pantalla más pequeña */
body {
  font-size: 16px;
}

/* Estilos para pantallas medianas (por ejemplo, tablets) */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

/* Estilos para pantallas grandes (por ejemplo, desktops) */
@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}

/* Puedes agregar más rangos de ancho de pantalla si lo necesitas */
@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}